<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Covid-19 application
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Covid-19 application</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-img class="image" src="assets/tn.jpg" ></ion-img>
  <div class="image">
    <a href="https://www.facebook.com/groups/322857122003664/" target="_blank" >Facebook Group</a>
  </div>

</ion-content>
