ion-content ion-toolbar {
  --background: translucent;
}
.selecthome{
  color: #000000b9;
  font-size: 10px;
  text-align: start;
}
.countrytxt{
  color: #000000;
  font-size: 10px;
  text-align: center;
}
.totaltest{
  color: #011f01;
  font-size: 10px;
  text-align: center;
}
.image{
	width: auto;
	height: fit-content;
  align-items: center;
  align-content: center;
  text-align: center;
}
.cell-class {
  border-color: #f5d0d0; 
  border-width: 1px; 
  border-style:dashed; 
  margin-bottom : 1px;
  text-align: center;
  
}
.div-style {
  width: auto;
	height: fit-content;
  align-items: center;
  align-content: center;
  text-align: center;
  
}